<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qlique">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Map.EventsMap"></activity>
        <activity android:name=".Map.ShowEventMap" />
        <activity android:name=".Map.DisplayEventsMapActivity" />
        <activity android:name=".Map.CreateEventMapActivity" />
        <activity android:name=".Map.BasicMapActivity" />
        <activity android:name=".CreateEvent.EventMembers" />
        <activity android:name=".EventsDisplay.EventInfo" />
        <activity android:name=".EventsDisplay.EventsManager" />
        <activity android:name=".CreateEvent.NewEvent" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEYg3k2hcWMyjGlv4PuUcgtKuZ2-syFHM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".LoginAndSignUp.HobbiesSelection" />
        <activity
            android:name=".chatLogActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chatLogActivity" />
        </activity>
        <activity android:name=".NewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chat.ChatListActivity" />
        </activity>
        <activity android:name=".Profile.ProfilePage" />
        <activity
            android:name=".Feed.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateUnchanged"
            tools:replace="android:windowSoftInputMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginAndSignUp.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LoginAndSignUp.ForgotPasswordActivity" />
        <activity
            android:name=".LoginAndSignUp.SignupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LoginAndSignUp.UpdatePassword" />
        <activity android:name=".Chat.ChatListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.qlique.Feed.MainActivity" />
        </activity>
    </application>

</manifest>